body{
    padding: 0px;
    margin: 0px;
    background-image: url('../image/testimonial.jpeg');
    background-size: cover;
}
.wrapper{
    width: 1200px;
    height: 950px;
    margin: 0 auto  ;

    display: flex;
    align-items: center;
    justify-content: center;

}

@font-face {
    font-family: 'regular';
    src: url(../montserrat-20240716T043513Z-001/montserrat/Montserrat-Regular.woff);
}

.form {
    width: 480px;
    height: 594px;
    border: 4px dashed white;
    color: transparent;
    backdrop-filter: blur(20px);
    overflow: hidden;
   
}
.form:hover {
    background-color: rgb(59 59 59);
    transition: all 0.6s ease-in-out;
    overflow-x: hidden;
    overflow-y: scroll;
}
.form::-webkit-scrollbar{
    display: none;
}
.box{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #1e5800;
    transform: translateX(-100px) translateY(-100px);
}
.center-box {
    width: 250px;
    height: 250px;
    background-color: #cb6e00;
    border-radius: 50%;
    border: 4px dashed white;
    transform: translateX(22px) translateY(26px);
}
.coma2 {
    width: 115px;
    height: 109px;
    transform: translateX(116px) translateY(-123px);
}
.man {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: fixed;
    background-image: url(../image/profile.jpeg);
    background-size: cover;
    transform: translateX(261px) translateY(-300px);
}


.testimonial {
    color: aliceblue;
    font-size: 38px;
    transform: translateX(236px) translateY(-296px);
    font-family: 'regular';
}
.text{
    width: 100%;
    height: 50px;
    
    transform: translateX(0px) translateY(-120px);

}
.JohnDue {

    color: aliceblue;
    font-size: 25px;
    font-family: 'regular';
    margin-bottom: 0px;
}
.star {
    width: 252px;
    height: 62px;
    transform: translateX(-55px) translateY(0px);
  
}
.peragraf {
    color: aliceblue;
    font-size: 22px;
    font-family: 'regular';
    margin-top: 0px ;
 
}
.peregraf-box{
    width:100%;
    height: 340px;
    

}
.btn {
    width: 131px;
    height: 37px;
    background-color: #cb6e00;
    border-radius: 10px;
    border: 0px;
    color: azure;
}
.box9{
    padding-left: 20px;
    width: 420px;
}